<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="{{site.baseurl}}/img/person.jpg" alt="Image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image" style="height: 40px; width: 40px;">
          <img src="{{site.baseurl}}/img/threeCats.jpeg" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{site.my_name}}</p>
        <p class="subtitle is-6">@{{site.twitter_username}}</p>
      </div>
    </div>

    <div class="content">
      I'm Novella, the person behind AltoDev. I'm a polyglot with experience in working with multilingual Drupal,
      natural resources consulting, and academic field research.
      I am available to work remotely or embedded (in-house).
    </div>
  </div>
</div>