---
layout: default
---
<section class="section">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-child">
        {% include person.html%}
      </div>
    </div>
    <div class="tile is-9 is-vertical is-parent">
      <a class="tile is-child notification is-primary box" href="experience">
        <p class="title">Need a hand with client care?</p>
        <p class="subtitle is-underlined">I slay SLAs.</p>
      </a>
      <a class="tile is-child notification is-success box" href="experience">
        <p class="title">Nice site. How does it work?</p>
        <p class="subtitle is-underlined">I can teach you to use your new (or old) site.</p>
      </a>
      <a class="tile is-child notification is-warning box" href="experience">
        <p class="title">Is it time to migrate to D8?</p>
        <p class="subtitle is-underlined" href="experience">No legacy data left behind!</p>
      </a>
      <a class="tile is-child notification is-info box" href="experience">
        <p class="title">Are you really going to use all that?</p>
        <p class="subtitle" href="experience">Not always! Whether it's Vue, Nuxt, Drupal, or something custom, <span class="is-underlined">we'll find the right tool for the job.</span></p>
      </a>
    </div>
  </div>
</section>
