---
layout: default
---
<section class="hero is-{% if page.style %}{{page.style}}{% endif %} is-bold">
  <div class="hero-body">
    <div class="container">
      <p class="title is-1">
        {{ page.title | escape }}
      </p>
      {% if page.subtitle %}
        <p class="subtitle is-3">
          {{ page.subtitle | escape }}
        </p>
      {% endif %}
    </div>
  </div>
</section>

<article class="section">
  <div class="container content is-medium">
    {{ content }}
  </div>
</article>
